// Colors
$primary-blue: #5474FD;
$dark-bg: #333333;
$text-light: #E8E8E8;
$text-white: #FFFFFF;
$bg-dark: #232323;

// Fonts
$font-heading: 'Aleo', serif;
$font-body: 'Josefin Sans', sans-serif;

$font-size-md: 24px;


// Spacing scale
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 40px;
$space-xl: 80px;